*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Josefin Sans", sans-serif;
    width: 100%;
    height: 100vh;
    background: url(assets/images/searchbg.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    scroll-behavior: smooth;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
}
@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
@keyframes fade-up{
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    overflow: hidden;
    height: 3rem;
    background-size: 300% 300%;
    cursor: pointer;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),
      linear-gradient(
        137.48deg,
        #ffdb3b 10%,
        #fe53bb 45%,
        #8f51ea 67%,
        #0044ff 87%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  
  #container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
  }
  
  strong {
    z-index: 2;
    font-family: "Avalors Personal Use";
    font-size: 12px;
    letter-spacing: 5px;
    color: #ffffff;
    text-shadow: 0 0 4px white;
  }
  
  #glow {
    position: absolute;
    display: flex;
    width: 12rem;
  }
  
  .circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
  }
  
  .circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
  }
  
  .circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
  }
  
  .btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
  }
  
  .btn:hover {
    transform: scale(1.1);
  }
  
  .btn:active {
    border: double 4px #fe53bb;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
  }
  
  .btn:active .circle {
    background: #fe53bb;
  }
  
  #stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
  }
  
  #stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
  }
  
  #stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }
  
  #stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
  }
  
  #stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-135rem);
    }
  }
  
  @keyframes animStarRotate {
    from {
      transform: rotate(360deg);
    }
  
    to {
      transform: rotate(0);
    }
  }
  
  @keyframes gradient_301 {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  img{
    width: 248px;
    justify-self: center;
    max-width: 100%
}
.svg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 15% 0 20%;
    animation: appear 5s linear;
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full viewport width */
    margin-top: 15%;
    margin-bottom: 20%;
    animation-timeline: view();
    animation-range: entry 0% cover 70%;
}
svg path{
    fill: transparent;
    stroke: #fff;
    
    stroke-width: 0.1;
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    animation: textAnimation 3s ease-in-out 1 forwards;
}

.anime-section{
    margin-top: 20px;
    background-image: radial-gradient(rgba(15, 0, 0, 0.911),rgba(52, 3, 59, 0.575),rgba(9, 9, 82, 0.712),black);
    width: 100%;
    padding: 0;
    margin: 0;
}

.img{
    padding-bottom:  30px;
    margin: 30px 0;
    width: 40%;
    border-radius: 20px;
}
p{
    padding: 0;
    margin: 0;
    font-size: 5rem;
    color: rgba(195, 195, 255, 0.89);
}
footer{
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 20px;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    margin: 0;
    padding: 0;
}
@media (max-width: 768px) {
    p {
        font-size: 3rem;
    }
    .img {
        width: 80%;
    }
}
