<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100dvh;
  background: #06005cef;
  font-size: 1.5rem;
  color: #fff;
  font-family: "Archivo", serif;
  font-optical-sizing: auto;
  
}
div{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #050050;
  padding: 80px;
  margin: 0 auto;
  height: fit-content;
  width: 70%;
  position: relative;
  top: 25%;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #0d03a1ce;
}
</style>
<body>
  <div class="">
    <h1>Content unavailable!</h1>
  </div>
</body>
</html>